@model EMBDatabase.Models.Part
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{
    ViewBag.Title = "Part";
}
<style>
    .row {
        padding-bottom: 5px;
    }

    textarea {
        width: 250px;
        height: 100px;
    }

    select {
        min-width: 150px;
    }

    .containerz {
        width: 100%;
        text-align:right;
    }
    .block {
        display: inline-block;
    }
</style>
<div>
    <p />
</div>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <p>
                            @Html.ActionLink("New", "Create")
                        </p>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                        </p>
                        <p>
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Part?');" })
                        </p>
                        <p>
                            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Back to list"), "Index", "Parts")
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <p><b>@Html.DisplayNameFor(model => model.CreateDate) :</b> @Html.DisplayFor(model => model.CreateDate)</p>
                        <p><b>@Html.DisplayNameFor(model => model.UpdateDate) :</b> @Html.DisplayFor(model => model.UpdateDate)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-success">
            <div class="panel-heading">Part (id : @Model.Id)</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Keywords)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Keywords)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Voltage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Voltage)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Current)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Current)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Pin_Count)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pin_Count)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>

                    <hr>
                    <dt>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </dt>
                    <dd>
                        <a href="@Url.Action("Details", "Manufacturers", new { id =  Model.Manufacturer.Id})">@Model.Manufacturer.Name</a>
                    </dd>
                    <hr />
                    <dt>
                        Files
                    </dt>
                    <dd>

                    </dd>
                    @*<dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd>
                            <a href="@Url.Action("Details", "Manufacturers", new { id =  Model.Type.Id})">@Model.Type.Name</a>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Package)
                        </dt>
                        <dd>
                            <a href="@Url.Action("Details", "Manufacturers", new { id =  Model.Package.Id})">@Model.Package.Name</a>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Location)
                        </dt>
                        <dd>
                            <a href="@Url.Action("Details", "Manufacturers", new { id =  Model.Location.Id})">@Model.Location.Name</a>
                        </dd>*@

                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-info">
            <div class="panel-heading">Images</div>
            <div class="panel-body">
                @foreach (EMBDatabase.Models.File img in Model.File.Where(a => a.File_Type == "Images"))
                {

                    <div class="col-xs-6 col-md-3">
                        <a href=@Url.Content(img.File_Path) class="thumbnail">
                            <img src=@Url.Content(img.File_Path) alt="...">
                        </a>
                    </div>
                }
            </div>
            <div class="panel-footer">
                @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="containerz">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.Hidden("sender", "Parts")
                    @Html.Hidden("file_type", "Images")
                    <div class="block">
                        @Html.TextBox("file", "", new { type = "file" })
                    </div>
                    <div class="block">
                        <input type="submit" value="Upload" class="btn btn-default" />
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Documents</div>
            <div class="panel-body">
                @foreach (EMBDatabase.Models.File doc in Model.File.Where(a => a.File_Type == "Documents"))
                {
                    <div class="col-xs-6 col-md-3">
                        <a href=@Url.Content(doc.File_Path)>
                            @doc.Name
                        </a>
                    </div>
                }
            </div>
            <div class="panel-footer">
                @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="containerz">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.Hidden("sender", "Parts")
                        @Html.Hidden("file_type", "Documents")
                        <div class="block">
                            @Html.TextBox("file", "", new { type = "file" })
                        </div>
                        <div class="block">
                            <input type="submit" value="Upload" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>