@model EMBDatabase.Models.Part
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/bootstrap-tagsinput.js"></script>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet">

@{
    ViewBag.Title = "Edit Part";
}
<style>
    .row {
        padding-bottom: 5px;
    }

    textarea {
        width: 250px;
        height: 100px;
    }

    select {
        min-width: 150px;
    }
</style>
<div>
    <p />
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <p>
                            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Back to part"), "Details", new { id = Model.Id })
                        </p>
                        <p>
                            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Back to list"), "Index", "Parts")
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <p>
                            Please note, the following fields cannot be left blank:<br />
                            <b>voltage</b>, <b>current</b>, <b>price</b>, <b>quantity</b>, <b>pin count</b>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-success">
                <div class="panel-heading">Part (id : @Model.Id)</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreateDate)
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.Keywords, htmlAttributes: new { @class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "form-control", data_role = "tagsinput" } }) 
                            @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Voltage, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Voltage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Voltage, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Current, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Current, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Current, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">

                            @Html.LabelFor(model => model.Pin_Count, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Pin_Count, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Pin_Count, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type_Id, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("Type_Id")
                            </div>

                            @Html.LabelFor(model => model.Manufacturer_Id, "Manufacturer", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("Manufacturer_Id")
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Package_Id, "Package", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("Package_Id")
                            </div>

                            @Html.LabelFor(model => model.Location_Id, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownList("Location_Id")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right"><input type="submit" value="Save" class="btn btn-success" /></div>
            </div>
        }
    </div>
</div>
<script src="../js/bootstrap-tagsinput.js"></script>