@model PagedList.IPagedList<EMBDatabase.Models.Part>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Parts";
}
<style>  

    #pager {
        padding: 0;
        text-align: center;
    }

    .pagination {
        margin: 5px;
    }
    .form-group {
        white-space: nowrap;
    }
</style>
<div>
    <p />
</div>
<div class="row">
    <div class="col-md-3" style="padding-right:0px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <p>
                            @{
                                var db = new EMBDatabase.Context.EMBContext();
                                var parts = db.Part.ToList();
                            }
                            @if (!string.IsNullOrEmpty(ViewBag.CurrentFilter))
                            {
                                <p class="input-group-lg"> <b>@Model.TotalItemCount</b> results for '<b>@ViewBag.CurrentFilter</b>'</p><br />
                            }
                            Entries: <b>@parts.Count()</b><br />
                            All parts: <b>@parts.Sum(a => a.Quantity)</b><br />
                            Total worth: <b>@parts.Sum(b => b.Quantity * b.Price)</b><br />
                            Pages: <b>@Model.PageCount</b><br />

                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" style="margin-bottom :10px;">
            <div class="col-md-12">
                <div class="form-inline">
                    @Html.ActionLink("Create", "Create", null, new { @type = "button", @class = "btn btn-primary" })
                    @Html.ActionLink("Export", "Export", null, new { @type = "button", @class = "btn btn-primary" })
                    <div class="input-group pull-right">
                        @using (Html.BeginForm("Index", "Parts", FormMethod.Get))
                        {
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search for parts..." })
                            @Html.Hidden("prevPagesNum", ViewBag.PartsPerPage as string)
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go</button>
                            </span>
                        }
                    </div>
                    <div class="pull-right" style="margin-right:10px;" role="group" aria-label="...">
                        @using (Html.BeginForm("Index", "Parts", FormMethod.Get, new { @name = "paginationForm", @class = "btn-group" }))
                        {
                            <input type="submit" class="btn btn-default form-control" name="pagesNum" value="20">
                            <input type="submit" class="btn btn-default form-control" name="pagesNum" value="35">
                            <input type="submit" class="btn btn-default form-control" name="pagesNum" value="50">
                            @Html.Hidden("sortOrder", ViewBag.CurrentSort as string)
                            @Html.Hidden("currentFilter", ViewBag.CurrentFilter as string)
                            <input type="submit" class="btn btn-default form-control" name="pagesNum" value="all">
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        @Html.ActionLink("All Parts", "Index")
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.ActionLink("Number", "Index", new { sortOrder = ViewBag.NumberSortParam, currentFilter = ViewBag.CurrentFilter, prevPagesNum = ViewBag.PartsPerPage })
                            </th>
                            <th>
                                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter, prevPagesNum = ViewBag.PartsPerPage })
                            </th>
                            <th>
                                Voltage
                            </th>
                            <th>
                                Current
                            </th>
                            <th>
                                Pin Count
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Voltage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Current)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pin_Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Parts", new { id = item.Id })">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Part?');", @class = "glyphicon glyphicon-remove" })
                                </td>
                            </tr>
                        }
                    </table>
                    @if (Model.PageCount > 1)
                    {
                        <div class="panel-footer" id="pager">
                            <nav aria-label="Page navigation">
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, prevPagesNum = ViewBag.PartsPerPage }))
                            </nav>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>