@model EMBDatabase.Models.Manufacturer

@{
    ViewBag.Title = "Manufacturer";
}
<style>
    .row {
        padding-bottom: 5px;
    }

    textarea {
        width: 250px;
        height: 100px;
    }

    select {
        min-width: 150px;
    }
</style>
<div>
    <p />
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        <p>
                            @Html.ActionLink("New", "Create")
                        </p>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                        </p>
                        <p>
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Manufacturer?');" })
                        </p>
                        <p>
                            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Back to list"), "Index", "Manufacturers")
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <p><b>@Html.DisplayNameFor(model => model.CreateDate) :</b> @Html.DisplayFor(model => model.CreateDate)</p>
                        <p><b>@Html.DisplayNameFor(model => model.UpdateDate) :</b> @Html.DisplayFor(model => model.UpdateDate)</p>
                        <p><b>Manufacturer parts :</b> @Model.Parts.Count()</p>
                        <p><b>Total parts :</b> @Model.Parts.Select(a=>a.Quantity).Sum()</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-success">
            <div class="panel-heading">Manufacturer (id : @Model.Id)</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Full_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Full_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Website)
                    </dt>

                    <dd>
                        <a href="http://@Model.Website">
                            @Html.DisplayFor(model => model.Website)
                        </a>                        
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                    <hr />
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <b>Parts</b> 
                            (<a href="@Url.Action("Index", "Parts")">
                                all &raquo;
                            </a>)
                        </div>
                        <table class="table">
                            <tr>
                                <th>
                                    Number
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Voltage
                                </th>
                                <th>
                                    Current
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model.Parts)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Voltage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Current)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Parts", new { id = item.Id })">
                                            Go &raquo;
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
