@model IEnumerable<EMBDatabase.Models.Manufacturer>

@{
    ViewBag.Title = "Manufacturers";
}
<style>
    .glyphicon {
        font-size: 15px;
    }
    .glyphicon-download {
        font-size: 30px;
        vertical-align: middle;
    }
    .form-inline {
        vertical-align: top;
    }
    a:hover {
        text-decoration:none;
    }
</style>
<div>
    <p />
</div>
<div class="row">
    <div class="col-md-3" style="padding-right:0px;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <p>
                            Entries: <b>@Model.Count()</b><br />
                            Manufacturer parts: <b>@Model.Select(a => a.Parts.Count()).Sum()</b><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" style="margin-bottom :10px;">
            <div class="col-md-12">
                <div class="form-inline">
                    @Html.ActionLink("Create", "Create", null, new { @type = "button", @class = "btn btn-primary" })
                    @Html.ActionLink(" ", "Export", null, new { @class = "glyphicon glyphicon-download" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        @Html.ActionLink("All Manufacturers", "Index")
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Full_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Website)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                Man Parts
                            </th>
                            <th>
                                All Parts
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Full_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Website)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @item.Parts.Count()
                                </td>
                                <td>
                                    @item.Parts.Select(a => a.Quantity).Sum()
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Manufacturers", new { id = item.Id })">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Part?');", @class = "glyphicon glyphicon-remove" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>